@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.ata-tx {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 2.2em;
    margin-right: 2.2em;
    margin-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 0
    }
.bmh {
    display: block;
    font-size: 1.83333em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3em;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.bmhh {
    display: block;
    font-size: 1.83333em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3em;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    height: auto;
    width: auto
    }
.calibre2 {
    text-decoration: none
    }
.ccn {
    font-style: normal;
    font-weight: normal
    }
.cct {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 1.5em;
    text-align: left;
    text-decoration: none;
    text-indent: -1.5em
    }
.cct-bot {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25em;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 1.5em;
    text-align: left;
    text-decoration: none;
    text-indent: -1.5em
    }
.cn {
    display: block;
    font-size: 1.125em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.31em;
    margin-bottom: 1.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.5em;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.crt {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.22em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.crt-lf {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.22em;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 2em;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.crt-lf-bot {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.22em;
    margin-bottom: 0.5em;
    margin-left: 3em;
    margin-right: 2em;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.crt-rgt {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.22em;
    margin-bottom: 1.2em;
    margin-left: 3em;
    margin-right: 2em;
    margin-top: 0;
    text-align: right;
    text-decoration: none;
    text-indent: 0
    }
.crt1 {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.22em;
    margin-bottom: 1.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.ct {
    display: block;
    font-size: 1.83333em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 3em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.ded {
    display: block;
    font-size: 1.125em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25em;
    margin-bottom: 0;
    margin-left: 1.2em;
    margin-right: 1.2em;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.dia {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 1.2em;
    margin-top: 0;
    padding-left: 2.4em;
    text-align: justify;
    text-decoration: none;
    text-indent: -1.2em
    }
.epub-b {
    font-style: normal;
    font-weight: bold
    }
.epub-i {
    font-style: italic;
    font-weight: normal
    }
.epub-sc {
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal
    }
.epub-sc-i {
    font-size: 0.75em;
    font-style: italic;
    font-weight: normal
    }
.ex {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25em;
    margin-bottom: 0;
    margin-left: 1.2em;
    margin-right: 1.2em;
    margin-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 0
    }
.exi {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25em;
    margin-bottom: 0;
    margin-left: 1.2em;
    margin-right: 1.2em;
    margin-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1.2em
    }
.fmh {
    display: block;
    font-size: 1.83333em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.in {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 1em;
    text-align: left;
    text-decoration: none;
    text-indent: -1em
    }
.ina {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.4em;
    padding-left: 1em;
    text-align: left;
    text-decoration: none;
    text-indent: -1em
    }
.n {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.4em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.n1notop {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.ntx {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 0
    }
.ntx-left {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.ntxnobot {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 0
    }
.sb-std {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.sb2s {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25em;
    margin-bottom: 1.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 0
    }
.sp {
    display: block;
    margin-bottom: 4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.sp1 {
    display: block;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.stx {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.2em;
    text-align: justify;
    text-decoration: none;
    text-indent: 1.2em
    }
.stxs {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25em;
    margin-bottom: 1.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.2em;
    text-align: justify;
    text-decoration: none;
    text-indent: 1.2em
    }
.tit {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.tni {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 0
    }
.tx {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1.2em
    }
.txs {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25em;
    margin-bottom: 1.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1.2em
    }

